<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="BaseURL" value="http://www.formula1.com"/>
    <add key="authToken" value="prologic"/>
    <add key="scrapeToken" value="124EAD7F-90BD-49F7-99B7-17FA61AEDEA7"/>

    <!--Controller URLS-->
    <add key="yearsArray" value="2015,2016"/>
    <add key="teamsArray" value="Mercedes,Red-Bull,Ferrari,Force-India,Williams,McLaren,Toro-Rosso,Haas,Renault,Manor,Sauber"/>
    <add key="countryArray" value="Australia,Malaysia,China,Bahrain,Spain,Monaco,Canada,Austria,Great_Britain,Hungary,Belgium,Italy,Singapore,Japan,Russia,United_States,Mexico,Brazil,Abu_Dhabi"/>
    <add key="driversURL" value="/en/championship/drivers.html"/>
    <add key="seasonsURL" value="/en/championship/races/$year$.html"/>
    <add key="seasonsCountryURL" value="/en/championship/races/$year$/$country$.html"/>
    <add key="driverStandingsURL" value="/en/results.html/$year$/drivers.html"/>
    <add key="constructorStandingsURL" value="/en/results.html/$year$/team.html"/>
    <add key="teamsURL" value="/en/championship/teams/$team$.html"/>
    <add key="driverBioURL" value="/en/championship/drivers/$name$.html"/>
    <add key="resultsURL" value="/en/results.html/$year$/races/$country$/race-result.html"/>
    <add key="2016Results" value="938/australia,939/bahrain,940/china,941/russia,942/spain,943/monaco,944/canada,958/europe,945/austria,946/great-britain,947/hungary,948/germany,949/belgium,950/italy,951/singapore,952/malaysia,953/japan,954/united-states,955/mexico,956/brazil,957/abu-dhabi"/>
    <add key="2015Results" value="917/australia,918/malaysia,919/china,920/bahrain,921/spain,922/monaco,923/canada,924/austria,925/great-britain,927/hungary,928/belgium,929/italy,930/singapore,931/japan,932/russia,933/united-states,934/mexico,935/brazil,936/abu-dhabi"/>
    <add key="CurrentDrivers" value="Nico Rosberg,Lewis Hamilton,Daniel Ricciardo,Kimi Räikkönen,Sebastian Vettel,Max Verstappen,Valtteri Bottas,Sergio Perez,Nico Hulkenberg,Fernando Alonso,Felipe Massa,Carlos Sainz,Romain Grosjean,Daniil Kvyat,Jenson Button,Kevin Magnussen,Jolyon Palmer,Pascal Wehrlein,Stoffel Vandoorne,Esteban Gutierrez,Marcus Ericsson,Felipe Nasr,Rio Haryanto,Esteban Ocon"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
